# hugo gitignore

# ignore synthesised outputs
public
kodata
resources/
clogrc/core
# ignore npm or yarn generated postcss source files
node_modules/
package-lock.json
yarn.lock

# ignore the hugo & mrmxf build artifacts
.hugo_build.lock

# ignore the tmp folder but not the readme inside it
tmp/*
!tmp/readme.md
tmp-
tmp_

#ignore mac artifacts
.DS_Store

# IDE files
.idea

# vim temporary files
*~
*.sw?
