/* fohuw variables */
:root {
  --fo-wide-max:  900px;
}
/* On wide screens display full menu, hide narrow menu */
.fo-menu-w {
  display: flex;
}
.fo-menu-n {
  display: none;
}
/*  On narrow screens - opposite */
@media screen and (max-width: var(--fo-wide-max)) {
  .fo-menu-w {
    display: none;
  }
  .fo-menu-n {
    display: flex;
  }
}
