{{partial "tmpl/dbg-template-comment" .}}{{/*
  The .src property may be a string or a resource - do the right thing!
*/}}
{{ $color := "purple"}}
{{ $type := (printf "%T" .src) }}
{{- $err := printf "is nil for %s" .src -}}
{{- $alt := .alt -}}
{{- if not $alt -}}{{ $alt = .text }}{{end}}
{{- if not .src -}}{{- partial "tool/dbg" (dict "_" "err" "a" ".src" "m" $err "d" .) -}}{{- end -}}
{{- if not $alt -}}{{- partial "tool/dbg" (dict "_" "err" "a" ".alt" "m" $err "d" . ) -}}{{- end -}}
{{- if .link -}}<a href="{{.link}}">{{- end -}}
<div class="{{.srcClass}}">
<img  src="{{.src}}" {{with $alt }}alt="{{.}}"{{end}} />
</div>
{{- partial "tool/caption" . -}}
{{- if .link -}}</a>{{- end -}}