{{partial "tmpl/dbg-template-comment" .}}
{{ $color := "purple"}}
{{ $type := (printf "%T" .src) }}
{{- $err := printf "is nil for %s" .src -}}
{{- $alt := .alt -}}
{{- if not .src -}}{{- partial "tool/dbg" (dict "wrn" $err "ctx" (dict "src" .src)) -}}{{- end -}}
{{- if not $alt -}}{{- partial "tool/dbg" (dict "wrn" $err "ctx" (dict "alt" .alt)) -}}{{- end -}}
{{ $link := .srcLink}}
{{$u := urls.Parse $link}}
{{- if and $link (not $u.IsAbs) -}}
{{if not (fileExists $u.Path)}}
{{$err := printf "bad link(%s) for video" $link}}
{{- partial "tool/dbg" (dict "wrn" $err "ctx" . ) -}}
{{end}}
{{end}}
{{- if $link -}}<a href="{{$link}}">{{- end -}}
<video class="{{ .srcClass }}" autoplay loop>
  <source src="{{ .src }}" type="video/mp4"  {{with .alt }}alt="{{.}}"{{end}} />
  Your browser does not support the video tag.
</video>
{{- partial "tool/caption" . -}}
{{- if $link -}}</a>{{- end -}}