<!doctype html>
{{partial "tmpl/dbg-template-comment" .}}
<html itemscope itemtype="http://schema.org/WebPage" lang="{{site.Language.Lang}}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "tmpl/head.html" . }}
</head>
{{- $bodyClass := ""}}
{{- if isset .Page.Params.ui "bodyClass" }}{{ $bodyClass = printf "class=\"%s\"" .Page.Params.ui.bodyClass }}{{ end }}

<body {{$bodyClass | safeHTMLAttr}}>
  <div class="ui wide container">
    <div class="row">
      <header>
        {{ partial "tmpl/navbar" . }}
      </header>
    </div>

    {{- if not .Site.Params.ui.breadcrumb_disable }}
    <div class="row">{{ partial "tmpl/breadcrumb.html" . }}</div>
    {{ end -}}

      <div class="fo-sidebar-row">

        <div class="fo-wide-only fo-sidebar-column">
          {{- partial "tmpl/sidebar-tree.html" . -}}
        </div>

        <div class="fo-sidebar-main">
          <main role="main" class="ui main">
            {{ block "main" . }}{{ end }}
          </main>
      </div>
	  
    </div>
	
    <div class="row">
      {{ partial "tmpl/footer" . }}
    </div>
  </div>
  {{ partial "tmpl/body-scripts" . }}
</body>

</html>