{{ `<!-- fohuw blog/content2.html -->` | safeHTML }}
<div>
	<h1 class="header">{{ .Title }}</h1>
	<div class="ui small steps">
		<div class="medium step">
			<div class="content">
				<div class="title">
					{{ with .Params.description }}{{ . | markdownify }}{{ end }}
				</div>
			</div>
		</div>
		<div class="step">
			<div class="content">
				<span class="ui grey text">
					<time datetime="{{  $.Date.Format " 2006-01-02" }}" class="text-muted">{{ $.Date.Format
						$.Site.Params.time_format_blog }}</time>
					</span>
					<br>
					{{ with .Params.author }} {{ . | markdownify }}{{ end}}

			</div>
		</div>
		<div class="step">
			<div class="content">
				<div class="description">
					{{ partial "taxonomy_terms_article_wrapper.html" . }}
					{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
					{{ partial "reading-time.html" . }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
	{{ .Content }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
	{{ partial "feedback.html" .Site.Params.ui.feedback }}
	<br>
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
	<br>
	{{ partial "disqus-comment.html" . }}
	<br>
	{{ end }}

	{{ partial "pager.html" . }}

</div>