{{ define "main" }}
{{partial "tmpl/dbg-template-comment" .}}
{{ if (and .Parent .Parent.IsHome) }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}

<div class="ui grid">
	{{- if .Pages -}}
	<div class="row">
		<div class="column">
			{{ $pag := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006" )}}
			{{ range $pag.PageGroups }}
			<h2>{{ T "post_posts_in" }} {{ .Key }}</h2>
			{{ range .Pages }}
			{{$dot := .}}
			<div>

				<div class="ui horizontal fluid card">
					<a href="{{ .RelPermalink | safeHTMLAttr}}">
						{{ $image := (partial "tmpl/get-feature-resource.html" .)}}
						{{with $image}}
						<div class=" ui medium image">
							<img src="{{ $image.RelPermalink }}" alt="Featured Image for {{ $dot.Title }}">
						</div>
						{{end}}
					</a>
					<div class="content">
						<div class="header">
							<p><span class="large header"><a href="{{ .RelPermalink  | safeHTMLAttr}}">{{ .Title }}</a></span>
								<span class="ui small brown text">
									published on {{ .Date.Format ($.Param "time_format_blog") }}
									{{ T "ui_in"}} {{ .CurrentSection.LinkTitle }}
								</span>
							</p>
						</div>
						<div class="description">
							<p>
								{{ .Plain | safeHTML | truncate 250 }}
							</p>
						</div>
						<div class="fo-flex-with-tags">
							<div style="flex-grow:4;">
								<a href="{{ .RelPermalink  | safeHTMLAttr}}"
									aria-label='{{ T " ui_read_more" | safeHTMLAttr}} - {{ .LinkTitle  | safeHTMLAttr}}'>
									<div class="ui primary animated compact tiny fluid button" tabindex="0">
										<div class="visible content">{{ T "ui_read_more"}}</div>
										<div class="hidden content">{{ .Title }}</div>
									</div>
								</a>
							</div>
							<div class="extra" style="flex-grow:1;">
								{{ partial "tmpl/taxonomy_tags_logic.html" . }}
							</div>
						</div>
					</div>
				</div>
				<p class="pt-0 mt-0"></p>

			</div>
			{{ end }}{{/* --- range .Pages ------------------------------------ */}}
			{{ end }}{{/* --- if .Pages ----------------------------------------- */}}
		</div>
	</div>
	{{ end }}
	<div class="row">
		<div class="col">
			{{ if .Pages }}
			{{ partial "tmpl/pagination" . }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}