{{/* iterate through a dictionary and print out the results                */}}
{{ $type := (printf "%T" .) }}
<p>Parameter is of type {{ $type }}</p>
<ul>
{{ if eq $type "map[string]interface {}"                                      }}
  {{- range $key, $value := .                                                -}}
    <li>[{{ $key }}] == {{$value}}</li>
  {{ end                                                                     -}}
</ul>
{{ end                                                                       -}}
