{{/* fomantic-ui card generic front end

Usage:
{{% card
-- param: id="cardID anchors"
-- param: cardClass="ui card"
-- param: cardType="horizontal" | some other card-Thing.html template
-- param: description="Body Text" | none"
-- param: src="image/video/"
-- param: srcCredit=""
-- param: srcId="media-id"
-- param: srcOn="left" | "right"
-- param: srcWRatio=0.1
-- param: srcClickUrl="/some/page"
-- param: srcClass="mini | small | medium etc"
-- param: header="Header text
-- param: meta="Meta below heading"
%}}

- don't use srcRatio & srcClass together - they sort of conflict

*/}}
{{ $src := .Get "src" }}
{{ $id := .Get "id" | default "card" }}
{{ $ext := path.Ext $src }}
{{ $srcIs := cond (eq $ext ".mp4") "video" "image" }}
{{ $class := "ui card" }}
<div class="{{ $class }}">
  {{ if .Get "src" }}
  {{ $imgClass := .Get "imgClass" }}
  {{ if eq $srcIs "video"}}
  <video class="ui image" autoplay loop>
    <source src="/meeja/mrx-rexy-nab-2023.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  {{ else}}
  <div class="image">
    <img class="{{ $imgClass }} ui image" src="{{ $src }}" />
  </div>
  {{ end }}
  {{ end }}
  <div class="content">
    {{- with .Get "header"}}<div class="header">{{ . | markdownify }}</div>{{end -}}
    {{ with .Get "meta" }}
    <div class="meta"><span class="category">
        {{- . | markdownify -}}
      </span></div>
    {{ end }}
    {{ if or ( .Get "description" ) (.Inner) }}
    <div class="description">
      {{- .Get "description" -}}{{- .Inner | markdownify -}}
    </div>
    {{ end }}
  </div>
</div>