{{/*    fomantic shortcode:  image

  use without parmaeter names to manually specify classes or use the helpers.

  Usage:
    {{% f/image  "vid.mp4".  "ui fluid image"

    {{% f/image
         src        = "vid.mp4"
         class      = "ui fluid image"
         alt        = "Some alt text"
         caption    ="Centered text below image"
    %}}

    examples
      {{% f/image myImage.png  %}}
*/}}
{{ if .Get 0                                                                  }}
<img class="{{.Get 1}}" src="{{.Get 0}}" />
{{ else                                                                       }}
{{   $class        := .Get "class"                                             }}
{{   $mediaUrl     := .Get "src"                                               }}
{{   $alt          := .Get "alt"                                               }}
{{   $caption      := .Get "caption"   | default  ""                           }}
<img class="{{$class}}" src="{{$mediaUrl}}" alt={{$alt}} />
{{   if $caption                                                                }}
<div class="text-center">{{$caption}}</div>
{{   end  }}
{{  end                                                                       }}
