{{- $src := .Get 0 -}}
{{- $alt := .Get 1 -}}
{{- $class := .Get 2 | default "ui image" -}}
{{- $link := .Get 3 -}}
{{- $caption := .Get 4 -}}
{{- $anchor := .Get 5 -}}
{{- if .IsNamedParams -}}
{{- $src   = .Get "src" -}}
{{- $alt   = .Get "alt" -}}
{{- $class = .Get "class" | default "ui image" -}}
{{- $link = .Get "link" -}}
{{- $caption = .Get "caption" -}}
{{- $anchor = .Get "anchor" -}}
{{- end -}}
{{- if not $alt -}}{{- $alt = $caption -}}{{- end -}}
{{- partial "f/image" (dict "src" $src "alt" $alt "link" $link "class" $class "caption" $caption "anchor" $anchor) -}}