<!-- fohuw f/message shortcode -->
{{/* --------------------------------------------------------------------------
Usage (all text is markdownified by the partial)
=================================================
- {{< f/message
-0------- header = "Some heading text"
-1-- description = "Some body text"
-2---------- src = "image/url.svg"
-3-------- class = "ui red message"
>}}

examples
========
- {{< f/message "Announcements" "none" >}}

-------------------------------------------------------------------------- */}}
{{- $header := .Get 0 -}}
{{- with .Get "header" }}{{ $header = . }}{{- end -}}
{{- $description := .Get 1 -}}
{{- with .Get "description" }}{{ $description = . }}{{- end -}}
{{- $src := .Get 2 -}}
{{- with .Get "src"}}{{ $src = . }}{{- end -}}
{{- $class := .Get 3 | default "ui message" -}}
{{- with .Get "class" }}{{ $class = . }}{{- end -}}
{{/* --------------------------------------------------------------------- */}}
{{- partial "f/message" (dict "header" $header "description" ($description) "src" $src "class" $class ) -}}