{{/* Copy this file to your site's layout/partials folder and add your     */}}
{{/* custom header elements here.                                          */}}
{{/* This file is included at the End of the head elements                 */}}

<meta http-equiv="Content-Security-Policy"  content="frame-src https://faq.metarex.media;">
{{/* ------------ HOME PAGE ONLY ----------------------------------------- */}}
{{ $urlStub := .Page.RelPermalink }}
{{ $isHome := eq .Site.Home.RelPermalink $urlStub }}
{{ $isRexy := strings.HasPrefix $urlStub "/rexyBLAH" }}
{{- if  or $isHome $isRexy }}
<style>
body {
  background-attachment: fixed;
  background-image: url("/img/dino/mrx-logo.svg");
  background-color: #ffffff;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;    /* Resize the background image to contain the entire container */
 }
</style>
{{ end -}}
<style>
  .rexyBG {
    background-attachment: fixed;
    background-image: url("/img/dino/mrx-logo.svg");
    background-color: #ffffff;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
   }
  </style>