{{ `<!-- partials/fomantic.html -->` | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
		integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"
		integrity="sha512-5cguXwRllb+6bcc2pogwIeQmQPXEzn2ddsqAexIBhh7FO1z5Hkek1J9mrK2+rmZCTU6b6pERxI7acnp1MpAg4Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css"
		integrity="sha512-n//BDM4vMPvyca4bJjZPDh7hlqsQ7hqbP9RH18GF2hTXBY5amBwM2501M0GPiwCU/v9Tor2m13GOTFjk00tkQA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/accordion.min.css"
		integrity="sha512-0wLEmj2yC3QAfPPW3F/pbsTRvXXxzyVfTFxU4VdW1iDW6k3Nu1htpEdDV82FxYWzZPldBjJX+K952NCTnBE33Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/ad.min.css"
		integrity="sha512-m0w4CcOQafBhETWYVjXS+V/jSUk4Khg9abFetKO/bX2sF11JrERJ7W0XDjnVh6No3x3GDbG9eAvFgklSWIH2Sg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/api.min.js"
		integrity="sha512-kjzCf72ICSgO6RRtFD8gkmsURjU5C1oYw/dQS7NJShzEhdNzXTYinzTR7OymROLLM8bgrbLCsrW0LW545lXjlg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/breadcrumb.min.css"
		integrity="sha512-UpIkKey/8cNcuwTDVvzcbgimRn0yPIocoRgGjE0mBSWHLGlI1ZqMiU/ZyKlshU57vE7rARJ/Mi2kBcuhTjA1WA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/button.min.css"
		integrity="sha512-XMrByQiBPJwH350YvTKR/XTY1fOQX4lSQqeft++WcyY39l0eKoPXOgx1OJHEODhHCW1FfvVl/Bdr90QE08FG+Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/calendar.min.css"
		integrity="sha512-QsGuNRtHO/aG/zMr54taf9nlIsqHJ1HaO+LCT/gPA/Uq6UmfFBRbYH+13ZM85Sr2o0NNAk+GtGJ7JTR5i92Wmw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/calendar.min.js"
		integrity="sha512-v4fxKtdxal8XHLNeCX4uEnUoEbQBs/4S8CDZEELuX4iJu/rHRLwVZpGELSEcjic11jOoGARHV+d0RooJv0CjjQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/card.min.css"
		integrity="sha512-+jp8rF0q6n3RJycDVCfItpuuzhjvWsiWOzf3hO/sOmxY6hq+l8Ea70iqonS0QtbUF0XD1J6QJAxeM+EZUHcPBg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/checkbox.min.css"
		integrity="sha512-kGUHt+2Hjx6AEfQY2CvZYPpm0rPP5OGvaURQDfPJp0LdxdosP2K3Q5md5/0jZqZiyHZ/BgoMlHfv1vVvnIK5dg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/checkbox.min.css"
		integrity="sha512-kGUHt+2Hjx6AEfQY2CvZYPpm0rPP5OGvaURQDfPJp0LdxdosP2K3Q5md5/0jZqZiyHZ/BgoMlHfv1vVvnIK5dg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/comment.min.css"
		integrity="sha512-ZqReDJkvLWBQO8BmL19I8KVDWFpb41XJj4/I0zZM3G6YhWNBmYDQ4vf55NUlVnQS1lJEIlaJ9wpGnMbMyWhydQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/container.min.css"
		integrity="sha512-EXo069Q1gZxZ0MlAEsJkQp4dA9QsxDP2Kbh/WXfZLJBi67f7gKdsZJqfTlv8L2b3b253f7T0E7sO/vY84Bjm0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dimmer.min.css"
		integrity="sha512-LAxkny4ZaP9ICf5b9zKz01c1lAJlDhpEplIPHoiQ5BE48qI/KKcMGdqt8YR+l8aQ3zL2la3rPycMhtKYI5BWTQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dimmer.min.js"
		integrity="sha512-bkSSD37eotyp5oYWvieDhthxJg9UvHNUhK3537+foYMOCqWAbdJnj9dFN6kdmw5QPr8SoZU9kBuiQRhv35av/Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/divider.min.css"
		integrity="sha512-alqLXgaFyv1QhrD4o4HINy6iH/YlEGM+G6q12+uAjGg2puXJD1VPThetV+Eh5htAgULX2iBmFnD6lNb9wIlEuQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dropdown.min.css"
		integrity="sha512-hDsG55Tp5IgyWKbBbNhOo0+bLTdIVVAGW09a7IFvgIkKg/xrjOdOA2lEPFkkgJQ3NuB7DxDFlSHX7/JYvFLYfA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dropdown.min.js"
		integrity="sha512-1SzBIESNYM3Y8JkQrS1Mu2dPnPaAqeQkCV9KfDA2eYXBEzdkhHWyqTP6P0OAsh1RSC4cDvr8DmYVTmb/YWGYpQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/embed.min.css"
		integrity="sha512-nEguuUPmht53DVmhfNtSmD0lz9C2YugOex0Y0AzruyXV0FqqI7bbzgOGMvWhmeiYEJKNKKK/mgZjwjrUdhvEzQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/embed.min.js"
		integrity="sha512-HYPrWNfUhOCga4gimmRzz9omQDhQd8j4HC7RTdLKqb6nVT+aPYeIYPwOTCE8mh6kgLaS7PszXW0938MZZYEZkw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/emoji.min.css"
		integrity="sha512-Bc/8Df+RJyHLK1ix77+MxLXGgqbY+Oc2bnTriGpuYIxA0o+ci2jAi+RYm9BuSEAoQGthB+Pje6vpdr73Ua5KGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/feed.min.css"
		integrity="sha512-RVO0NjVJRyDX0UZKOblj5vxDeKsX+ZgVCteY2RjpOazTIuQu6UU17b/Hbwfp5xBCwISNZG0EvXLyhVpSuiscmQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/flag.min.css"
		integrity="sha512-YyjRfGHszapu2IaJRGYyqhmoqU6WuRKO8/3Ldxzqo6+5D8GbBiTStxVrXHRsXpUHRCQPMgHZ+JTsBa9nftE3Qw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/flyout.min.css"
		integrity="sha512-asMItrOTlEeaa+k4AXrtkhKDVDqOa4s0agsB0P3cf/Ze3uKHcknjlfyhhxtfO+5hOM0Aty/zoPYUnt1mUupiTA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/flyout.min.js"
		integrity="sha512-Tsk4E9N8iFy+dGS1IggSQBOwuTvVaMmZqwYmi7CohjE9k3py05sppnF0dF5/nTZQU6k6lJCtgiv/M1dXswBUPQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/form.min.css"
		integrity="sha512-T4WfgPbKF9V6tsApUipJjstcJU8itF1MKFyw7lRoJNrOdYE+pgP91pNimSsp12WAgsXDPI/rNwJjLceGwXBnGg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/form.min.js"
		integrity="sha512-EFCWa16JE1QI0pDi56ZWVJLubDmHNVUSFaT9uFdP0woWtwlMMu7WHyMVjjxy9hBie34ZkkxFWtfaXpPQfoGoFQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/grid.min.css"
		integrity="sha512-2ppWLAObHCYoGSpmQfF4PPmut9MEPwAr5w3QOBS4Lb1lMkq5S4a1ka4CpW5KBIjRituChQ1bAZHwZ5QYgbvWbg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/header.min.css"
		integrity="sha512-7RS9xlFgF3briPCuV81itGtGD5jOOO+O5xTklQz/bUvt8/ZKytnEY/6rY3GhbSCMIG2EloVmWapI96jmK1ow0w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/icon.min.css"
		integrity="sha512-cKaYuptKrUbQ4/r0qmxhpQDjPWb7/SYN6gQRYMOQqPJ2+S4Bmb1zZ1/SAuszp+E6yoakjQFpM+rAzuw+EwR+xw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/image.min.css"
		integrity="sha512-zUhNOD9+h0ukyvseH98fjNb1gX3sLb9bcxW3dkq2j9BxOt8QOFzTHL9J4jsYKqlXDlsPNpKnsCpWBuhpLfx0gw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/input.min.css"
		integrity="sha512-6+BQOwPqqk5AianROXkI3LKgnLcjZbEV3KbhO++sKXemybg0FugrODki+nBsg9FipqlKSMd4ppnpkqC6VEpFiA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/item.min.css"
		integrity="sha512-WC4ttcyurpFHE5nALxqxRobWM4OfJ/CT/IeDKVrAP0LyvXq+QCjLgoYARDEmP24zyESGWqgFyqqMBdxJkRaAoQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/label.min.css"
		integrity="sha512-tI+58E45/Hi6RabIW13150Im/QgY6MmmUJdC7TR8wJLIxlDEnfRgI9rsQ0JC8hxFLQpAQhhNpNAwcB0BLKhPrg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/list.min.css"
		integrity="sha512-Tag7IdlnyviAylgaKxIlZiTw7vYoQVODI4dynDziZawpVW4cgt/aOkknO4YoHlpdaKr/SvozdHW/n7smtEUxNg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/loader.min.css"
		integrity="sha512-GvN26KpeIkgt4PZimw/JdpiGKPpp8S8PmXmt0C6OnajfBo3Uqa/IHNmlcGNtiHO7ha3qvbrLqyfCD5PTCk1jkw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/menu.min.css"
		integrity="sha512-3qxUTqQY1FDhrBo5hXZvRoXY2XmvzieLktwGAvaTxOePJQc18bzkF53g45qEzqYufiE4mwjHDYHWEP8HNSaqnA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/message.min.css"
		integrity="sha512-HY+54uhuVw1bR3IlCroXcZ0ZJ1AbBVMhjYFtTzhLcqkAimsF0e/qgDB4rVxoeQGTdRa6YyDtaNDgyPIkhNuuSw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/modal.min.css"
		integrity="sha512-LPs6N6rFtVsXP75cbsNQ7lNLeqtShgTORbD+xtjpz6RZH9jHPiHmp19m/Bm8y58Ppp+ZMXhH4EQfdnq4FIzktw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/modal.min.js"
		integrity="sha512-EhIuA2i2sfsqrK/HpPCKaKUbN2vOwVUggiZSK7rN8c126u5anOz1r6ivxMK/Z7SBGGB646ldz9Sv2FFClq4PDw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/nag.min.css"
		integrity="sha512-QatBp8l8Of7Th+pffGka+S3B1kPu61qv5ytOgqyuwVDF/E7g1+8qN1AAw1/sbQbvYidt+Kbgj36MtR94JtWi0Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/nag.min.js"
		integrity="sha512-JlPUmhHZDCc0TcRIdV4LGvWcnCvKZ/XzRlJpQCyJv58GSftXvHN4GjtVxuCMuNoznBH6NPV5HNYuY2nn4r96yg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/placeholder.min.css"
		integrity="sha512-Fu2cAeugw0w1OOx2OavEuWUsRas+StWuMw+WdO4kgfGSfEhNCJxuXjeaRv+XTWM7zBUu3R8gwG5lZH0s2D9KUw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/popup.min.css"
		integrity="sha512-ghj1erUWEAu3zI6Dw+4qx3L3TPK2NAh3ndnsdkcUFtfA2EOZnvPrTPu9gaX3cgk7iZiqVQGpgCA8A+e1V4KLeQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/popup.min.js"
		integrity="sha512-zATakzSiHQRd8L2Rit7aVm0KSTfXKr/x2cFS4ExAuyc6YnUIjVw6842v6NhL4SoCAkhBeLi7uBtuhECFvpwvnw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/progress.min.css"
		integrity="sha512-BAGQMf3sIxei0edrF/1taFKYISGGaiX/nX/JJUsJzuTX2GRsyQoeB9axFzwZBqUvj+91meoEeeBScfYUzE4QDA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/progress.min.js"
		integrity="sha512-IHmWnlceQa+v8NgMSlYGfxRR7StBHhL+i0UQsNV4G97Fbl6dpQRLLJt/AeikW9FP1i/umDRZPsoeDSCTR7KzUQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/rail.min.css"
		integrity="sha512-dr9A/0wPZnevWPD44PJ2iYGj2Z1i5DmRWYNteWrgGy8j+8iga0UTNDKlxCXdIrimerMMxh5tdjlzYJ+rur+paQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/rating.min.css"
		integrity="sha512-qGu/96CuR9DTS1Hh0vGutFW1mJslQdEfvs7PsetOfHaeKRbuYTbqwtPsRQDP2Wfv/94+Se+KIp8vmPGQksrzxQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/rating.min.js"
		integrity="sha512-TvaaEbZyMuc3Mrkrv9VGsdCxQncovmO+fW5bBhzO8RRJtSW7uT/xlMspXHBAzIB1clRofWggD/8Lt9qRRfdkaQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/reset.min.css"
		integrity="sha512-OtN5MsQ1bMUCfvbxzycYIF0DWUFm/PUnnhzOxWNvaZPDFX8XU+QHd5MEXXsjGvlKk82o0kJLnhVPYHS1BilcmA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/reveal.min.css"
		integrity="sha512-RBsE3Nr9DaYG5MRRJ7md8uIq5o9B6M6H8uZrODiNA15lkX9jBfVT0xFdqKg0S8cRIiYmXAH1CYESiC6gZtdHyA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/search.min.css"
		integrity="sha512-1xyHOORqcJ80bareQ2TWmQE+WZ/TlsqjqILbLHeM3Urtw720aiFXE/N+Xm4MAJpcn42e3k4Z8ZpqZfsA2VVyNw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/search.min.js"
		integrity="sha512-RgHoPFPgYU3OtFQl0ka92xFkXAJPqG0tV0yVqbtobwZ63YJcr2Vib+sUvNC6ywndgsRHiHEym81zzfoky/rG4Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/segment.min.css"
		integrity="sha512-8Z8M3R4l7Wfpfi9qpJOB321SEIMaehOLKVpKLKTzy6dxrSjA8JGnoKL3gnMIl7Ocw6QmQFcrNrm5v5ZZdMx6rw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/shape.min.css"
		integrity="sha512-hYdCd651nBE+gar7z5WsueJNkAqhc0kCpFG1QqII8z1K/w8Oq2wYphpUi/ySo7wYLuqAKYijFTpXkPRvBQadyQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/shape.min.js"
		integrity="sha512-OUp9fUOhe8sfg8QvCZ+LHKnuMo3NBwpJl6X5W8/7LHfKZas7Lkp6iTFIotQ4ptwbhe2kVpV06pu/LcZfI2Hdbg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/sidebar.min.css"
		integrity="sha512-kT8C2WZNAvhFd5hwrIlA9gaTt+DNMhi7D/jq5DS9H9APzuJOk+cXhWjpmnguc3a1U9u9z1iqZF6EiJJCqnS67w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/sidebar.min.js"
		integrity="sha512-EG4x7AKJTaoBRiK+Bdu7jPRmmukcencntBy/zURgRoNiQJheOSUXQhl6vnK6DJEPbRBRmsVTJu4XZVVINAR2VQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/site.min.css"
		integrity="sha512-5TJa2ifJVnJRfgmUACqeI1ro5RDRocZzY+oAzhlOez+mucP9lqRdYvs+HcLg0O2PEqpapvWlr0czDYysKjDe0Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/site.min.js"
		integrity="sha512-72LaaZZRpBrgNUcRUyoL5t857dAi40RX4qW84/7ajGhQejJpB2rLuhhTdlUGtcKcAOljCZ21PUd0qTp1/Oh23A=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/slider.min.css"
		integrity="sha512-GSLa4eKDdO+uy55bgzR1vQavydGpQQuqqLkltR5JHfl2mTt2CD2Vq+jJYqiAQ48pXex8xUApi5XiZg3pH0txtA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/slider.min.js"
		integrity="sha512-MC50o8Kd4a0eMoi+m+rex8eCoCHCNMTXZxIHXkPMyOSOl4XhuqNsAdPDQjCmAGqJlYl/S0d35k+xcZwJiC+49Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/state.min.js"
		integrity="sha512-9Ww2bq/eJJSLU22BZSgKXE/JI2FwtrUTtHt5oZ6yC7m+rhCA8nGWaDYbLQvPu129zyJndwKj9TJJs4aRW/BvKQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/statistic.min.css"
		integrity="sha512-p6izKMLVysh7Z9Sf+nMomHrujEEHlH6aatYyBWFVYdNAGavr8OwZV7czwneLLn4QAS/Z9ZLJnOy+wgAQFPgRIg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/step.min.css"
		integrity="sha512-ZCiZSYz6aUkzZkMHqbuMcYxXp/+qnMjvPssHeB43wq8+TCekxMXuZykfPR28dexKO2+0d20EymEu4a8nsqXqkw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/sticky.min.css"
		integrity="sha512-ttXVO1jyG3R8tJI2i0CAjV4HTV28p2wQlEJmTIuf+t/V6FKeIo67wt/liKMeQmfiSsLmSGkSDxCRg/FfwaC8Ug=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/sticky.min.js"
		integrity="sha512-GJ6mBcBXpHxCjfRUOw4tDaKr4ElJL33/Xv5tplYLBDRBWti5cWc5X0YsmeYe9NtQjkfY9NRBAFGfP9uTC7Om9Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/tab.min.css"
		integrity="sha512-ufzN/e9H4s930RTBCP4tWW0wg+gZnsiPeOVwB3kyR0MglU1eV9HAxjFjo/uyimh3RS85oJKePbQNt7kRTK8wAA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/tab.min.js"
		integrity="sha512-mmJNOyfzE/3411xakHbblLbCCpqfCm4lYLEN6fQwvHlmj9eO41Wc4c9auz1a0vNbg3Hx1WYT+9uk6HX5+rvHEQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/table.min.css"
		integrity="sha512-o5bORH1DrkwZaEDIywLvAUdkvi+vjfvAjsze+BSb5qI7nUsuKvT26/zsEj1brtnMUQBueWbFNbgBJJ493y0JfQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/text.min.css"
		integrity="sha512-rXNz5XLxVIWlvnARKK8j3Fu1mFD66yO9bLGd9PlB1NcHldZzhDx8R9wvc8HkPaffc/HN2tVRjdwSSxDX8rsjug=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/toast.min.css"
		integrity="sha512-DbOgc8GfDobKZDX5iIegA0C5yQO9EfW8IU1AW2m0tYo5A2Ip6EwACRHM3xrRI1KgbErLarxkJgmZICnriyWN5Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/toast.min.js"
		integrity="sha512-JYMs0mE8zXChJ6dortuofJtsdODqLhbNpRd+bpaMGXpCNPX2ank/m0F+bUTQZQYTo2hbTn6CkpQxg6vPrfu39w=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/transition.min.css"
		integrity="sha512-zsEyDFFD+yPxc7Kq8c3byp2H3tfx4GgT4wvCDzDGiOlkk2hl454XOHzHfN/OsPilopfPEbRzVJ0wxlIa/9BOyg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/transition.min.js"
		integrity="sha512-zPx44KLp+BP6OKcCIPQibTiLz0WAc2s9syi+7wOT+Ql2D1/kAX8y7K1rz8vuTtrhRS2dMZ7zVS5dQoHTvkXJCA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/visibility.min.js"
		integrity="sha512-zoF0yyNydWdXBZSryiMlfeDRx7YXGsuaoAZfNuf9kjP5UVjm7AcQ3aPNk2ni5xjQliiDgJy7V42zZRK5rQ4pXA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
h9 {
		font-size: 1.1em;
}
</style>