{{ `<!-- fohuw/partials/head-fohuw.html -->` | safeHTML }}
{{/*--  You MUST include jQuery 3+ before Fomantic -------------------------*/}}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
{{- $url := "https://cdn.jsdelivr.net/npm" -}}
{{- $vjq := "3.7.1" -}}
{{- $integrity_jq := "integrity=\"sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=\"" -}}
{{- $vfo := "2.9.4" -}}
{{- $integrity_js := "integrity=\"sha256-Zh6NZwjzefLXtkIYJygkBuwIxUhZjOPgxKHvlGPo688=\"" -}}
{{- $integrity_css := "integrity=\"sha256-xlp3XbXCVlcKYMpXDnziC1QzN9j0SQiDjRiZ0qu6IOc=\"" -}}
<script src="{{$url}}/jquery@{{$vjq}}/dist/jquery.min.js"         {{$integrity_jq}}  crossorigin="anonymous"></script>
<script src="{{$url}}/fomantic-ui@{{$vfo}}/dist/semantic.min.js"  {{$integrity_js}}  crossorigin="anonymous"></script>
<link  href="{{$url}}/fomantic-ui@{{$vfo}}/dist/semantic.min.css" {{$integrity_css}} crossorigin="anonymous" rel="stylesheet" >