{{ `<!-- fohuw/partials/navbar-brand.html -->` | safeHTML }}
{{- $ext := slice ".svg" ".png" ".jpg" ".gif" }}
{{$looping := true}}
{{$img := ""}}
{{range $k, $v := $ext}}
{{ $i := printf "/brand/logo%s" $v}}
{{if $looping}}{{ $I := resources.Get $i }}{{ if $I }}
{{$img = printf "<img src=\"%s\" class=\"ui mini image\" alt=\"logo\">" $I.RelPermalink}}
{{$looping := false}}
{{ end }}{{ end }}
{{end}}
<div class="ui labelled borderless icon menu" style="flex-wrap:nowrap;">
  <a class="item" href="{{ .Site.Home.RelPermalink }}" style="height:100%">
    {{- $srcClass := "ui mini image" -}}
    {{- if .Site.Params.ui.navbar_logo -}}{{$img|safeHTML}}{{ end -}}
    {{- if .Site.Params.ui.navbar_title -}}{{- .Site.Title -}}{{end -}}
  </a>
</div>