{{ "<!-- partial/taxonomy_terms_cloud.html -->" | safeHTML }}
{{ $context := .context }}
{{ $taxo := .taxo }}
{{ $title := .title }}
{{ if isset $context.Site.Taxonomies (lower $taxo) }}
{{ $taxonomy := index $context.Site.Taxonomies (lower $taxo) }}
{{ if (gt (len $taxonomy) 0)}}

{{ with $title }}
<br />
<h5 class="ui right pointing purple basic label">{{ . }}</h5>
{{ end }}
<div class="ui small gray basic labels" style="display:inline;">
  {{ range $taxonomy }}
  <a class="ui label" href="{{ .Page.Permalink }}" data-taxonomy-term="{{ urlize .Page.Title }}">
    <span class="ui grey text" style="font-weight:200;"> {{ .Page.Title }} ({{ .Count }}) </span>
  </a>
  {{ end }}
</div>
{{ end }}
{{ end }}