{{/* f/message -----------------------------------------------------------------

Usage
=====
- {{% banner "msg" "colour" %}}

-------------------------------------------------------------------------- */}}
{{- $msg := .Get 0 -}}
{{- $defaultColor := "olive" -}}
{{- $color := .Get 1 | default $defaultColor -}}
{{-
if .IsNamedParams
-}}
{{- $msg = .Get "msg" -}}
{{- $color = .Get "color" | default $defaultColor -}}
{{-
end
-}}
{{- $defaultClass := printf "ui center aligned %s message" $color -}}
{{- $class := .Get "class" | default $defaultClass
-}}
{{- partial "f/message" (dict "description" ($msg | safeHTML ) "class" $class ) -}}