{{/*
  
    RC shortcode - all about page resources!

    Parameters:
      name (or first unnamed parameter) - used to match by name
      parm (default="relref")           - the property to be returned

    Usage examples@
      {{< rc "myPDF" >}}                 - returns the relRef of myPDF
                                                                            */}}
{{/* ---------------------------------------------------------------------- */}}
{{ $name := .Get 0                                                            }}
{{ $param := .Get 1                                                           }}
{{ if .IsNamedParams                                                          }}
{{   $name  := .Get "name"                                                    }}
{{   $param := .Get "param"                                                   }}
{{ end                                                                        }}
{{/* ---------------------------------------------------------------------- */}}
{{ if eq $param ""   }}{{ $param = "relref" }}{{ end                          }}
{{/* ---------------------------------------------------------------------- */}}
{{ if eq $param "relref"                                                      }}
<ul>
{{   with .Page.Resources                                          }}
{{ printf "<li>%v</li>" . }}
{{   end                                                                      }}
</ul>
{{ end                                                                        }}
{{/* ---------------------------------------------------------------------- */}}