{{partial "tmpl/dbg-template-comment" .}}{{/*
------------ The footer should position itself horizontally the page ------------
only the top level of menu is used on the footer, no hierarchy
*/}}
{{ $menu := site.Menus.footer }}
{{ $color := site.Params.ui.footer.backgroundColor }}
{{ $textClass := "text-white" }}
<br>
<div class="fluid column">
  <footer class="ui fluid equal width center aligned padded grid">
    {{with resources.Get "assets/inc/footer/topline.md"}}
    <div class="row">{{. | readFile | markdownify}}</div>
    {{end}}
    <div class="row">
      {{partial "tmpl/footer-left" .}}
      <div class="column">
        <div class="ui small labels">
          {{range $menu}}
          {{template "footer-fohuw-menu-item" .}}
          {{end}}
        </div>
      </div>
      {{ partial "tmpl/footer-right" . }}
    </div>
  </footer>
</div>

{{ define "footer-fohuw-menu-item" -}}
{{$target := ""}}
{{if hasPrefix .URL "http"}}{{$target = " target=\"_blank\""}}{{end}}
<div class="ui label">
  {{ with .Pre -}}{{.}}{{end}}
  {{ if .Name -}}
  {{with .URL}}<a href="{{relURL .}}" {{$target|safeHTMLAttr}}>{{end}}
    {{.Name}}
    {{with .URL}}</a>{{end}}
  {{ with .Post -}}{{.}}{{end}}
  {{end}}
</div>
{{end}}