{{partial "tmpl/dbg-template-comment" .}}{{/*

.page  - the page containing the menu
.nodePartial - the name of a partial to render a menu with children
.leafPartial - the name of a partial to render a leaf menu item
*/}}
{{ $page := .page -}}
{{ $nodePartial := .nodePartial -}}
{{ $leafPartial := .leafPartial -}}
{{- $partial2 := site.Params.ui.navbar2.partial -}}
{{- $menu2name := site.Params.ui.navbar2.menu -}}
{{- $menu2 := slice -}}
{{- if and $menu2name (isset site.Menus $menu2name) -}}
  {{- $menu2 := index site.Menus $menu2name -}}
{{- else -}}
{{ $msg := printf "the value of site.params.ui.navbar2.menu (%s) must be a valid child key of sites.menus" $menu2name}}
{{ partial "tool/dbg-err" (dict "m" $msg "d" .) }}
{{- $partial2 = "" -}}
{{end}}

{{if $partial2}}
<div class="menu">
  {{/* ---- iterative over menu items --------------------------------- */}}
  {{ range site.Menus.main.ByWeight -}}
  {{$d := (dict "page" $page "menu" . "leafPartial" $leafPartial "nodePartial" $nodePartial)}}
  {{if .HasChildren}}{{partial  $nodePartial  $d}}{{else}}{{partial  $leafPartial  $d}}{{end}}
  {{ end -}}
  {{/* ---- languages ----------------------------------------------- */}}
  {{- if (gt (len site.Home.Translations) 0) -}}
  <a class="item">{{ partial "tmpl/navbar-m-lang-selector.html" . -}}</a>
  {{ end -}}
  {{/* <a class="item">{{ partial "tmpl/search-input.html" . }}</a> */}}
</div>
{{end}}