{{partial "tmpl/dbg-template-comment" .}}
{{/* to support SVG files, all logos must be in static/brands */}}
{{- if not (and site.Params.ui.hide.navbar.logo site.Params.ui.hide.navbar.title) }}

{{- $logo := partial "tmpl/logo-resource" .}}

<div class="ui fluid centered menu">
  <a class="item" href="{{ site.Home.RelPermalink }}" style="height:100%">
    {{- if not site.Params.ui.hide.navbar.logo }}
    {{with $logo}}<div class="ui mini image"><img src="{{.RelPermalink}}"></div>
    {{end}}
  </a>
  <div class="ui dropdown item">
    <i class="hamburger icon"></i>
    {{partial "tmpl/navbar-iterator" (dict "page" . "nodePartial" "tmpl/navbar-m-node" "leafPartial"  "tmpl/navbar-m-leaf" )}}
  </div>
  <div class="ui item  title">
    <p id="siteTitleMenu">{{site.Title}}</p>
  </div>
</div>
{{- end -}}{{- end -}}