{{ $context := . }}
{{ if isset site.Params "taxonomy" }}
  {{ if isset site.Params.Taxonomy "taxonomypageheader" }}
    {{ range $index, $taxo := site.Params.Taxonomy.taxonomyPageHeader }}
      {{ partial "fotpl/taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo) }}
    {{ end }}
  {{ else }}
    {{ range $taxo, $taxo_map := site.Taxonomies }}
      {{ partial "fotpl/taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo) }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ range $taxo, $taxo_map := site.Taxonomies }}
    {{ partial "fotpl/taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo) }}
  {{ end }}
{{ end }}